<h1>Nuestros productos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Categoría</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img src="assets/bolsa.png" [alt]="categoria.name"/></th>
      <td>{{categoria.name}}</td>
      <td>{{categoria.price}}</td>
      <td>{{categoria.stock}}</td>
    </tr>
    <tr>
      <th> <img [src]="categoria.image" [alt]="categoria.name"/></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>6</td>
    </tr>
    <tr>
  </tbody>
</table>
