<header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 mb-2  mb-md-0 border-bottom">
  <div class="col-md-3 ms-5">
    <img src="assets/img/ziba-icon.jpeg" class="logo" alt="">
    <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none nav-link ">
        ZIBA BAGS </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" class="nav-link px-2 link-dark">Home</a></li>
    <li><a routerLink="/bolsas" class="nav-link px-2 link-secondary">Bolsas</a></li>
    <li><a routerLink="/mochilas" class="nav-link px-2 link-secondary">Mochilas</a></li>
  </ul>

  <div class="col-md-3 me-5 text-end" >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/shopping-cart" class="nav-link px-2 link-dark">
        <img src="assets/img/icons8-carro-30.png" alt=""></a>
      </li>
    </ul>
  </div>
</header>

