<div>
  <div>
    <h1 class="m-5"> Siempre vamos con vos...</h1>
  </div>

  <div class="container">
    <div class="col-12">
      <div class="row">
        <ng-container *ngFor="let category of categoriesList$ |async">

          <div class="card col-md-3 mt-2 me-4 bb-5">
            <a routerLink="/{{category.router}}">
              <img  [src]="category.image" [alt]="category.name"  >
              <h4  class="p-2" > {{category.name | uppercase}}</h4>
            @if(category.sale){
              <h6 class="p-2"
              [ngClass]="{'sale': category.sale, }"
            >Descuentos hasta {{category.discount}}%</h6>
            }
            </a>
          </div>

        </ng-container>
    </div>

    </div>
  </div>
</div>




<!-- DIRECTIVAS ESTRUCTURALES
    <tr *ngFor="let categoria of categorias" >
    <td *ngIf="categoria.stock == 0" > SIN STOCK </td>

    DIRECTIVAS ATRIBUTO
    [ngClass]="{'sale': categoria.sale}"  maneja las clases CSS sepuede agregar o sacar una clase
      esta se  arma  objeto JSON {'nombrePropiedad' : nombreClase.claseCSSAAplicar}

    PIPE
    se agregan despues del símbolo | (pipe) a la variable {{ ... | currency}} se interpola pipeCurrency
  -->
