<div>
  <div>
    <h1 class="m-5"> Siempre vamos con vos...</h1>
  </div>

  <div class="container">
    <div class="col-12">
      <div class="row">
        <ng-container *ngFor="let categoria of categorias">
          <div class="card col-md-3 mt-2 me-4 bb-5">
              <img  [src]="categoria.image" [alt]="categoria.name"  >
            <h4 routerLink="/{{categoria.router}}" class="p-2"
            > {{categoria.name | uppercase}}</h4>
            @if(categoria.sale){
              <h6 class="p-2"
              [ngClass]="{'sale': categoria.sale, }"
            >Descuentos hasta {{categoria.discount}}%</h6>
            }

          </div>
        </ng-container>
    </div>

    </div>
  </div>
</div>




<!-- DIRECTIVAS ESTRUCTURALES
    <tr *ngFor="let categoria of categorias" >
    <td *ngIf="categoria.stock == 0" > SIN STOCK </td>

    DIRECTIVAS ATRIBUTO
    [ngClass]="{'sale': categoria.sale}"  maneja las clases CSS sepuede agregar o sacar una clase
      esta se  arma  objeto JSON {'nombrePropiedad' : nombreClase.claseCSSAAplicar}

    PIPE
    se agregan despues del símbolo | (pipe) a la variable {{ ... | currency}} se interpola pipeCurrency
  -->
