.sale{
  display:block;
  background: rgb(153, 193, 193);
}
h6 , h4{
  text-align: center;
}
.container{
  margin-right: unset;
}
.card img{
  transition: 0,5s ease-in-out;
}
.card img:hoover{
  transition: 0,5s ease-in-out;
  transform: scale(1.2);
}
