<h1>Nuestros productos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Categoría</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>

  <!-- TEMPLATE todo lo que tiene que ver con la visual pero no a la lógica de la aplicación -->
  <tbody>
    @for(categoria  of categorias; track categoria.id){
      <tr >
        <td><img [src]="categoria.image" [alt]="categoria.name"/></td>
        <td [ngClass]="{'clearence': categoria.clearence , 'resaltar': categoria.clearence}">{{categoria.name | uppercase}}</td>
        <td>{{categoria.price | currency}}</td>
        @if(categoria.stock > 0){
          <td>{{categoria.stock}}</td>
        }@else {
          <td><span class="badge text-bg-secondary">SIN STOCK</span> </td>
        }
      </tr>
    }
  </tbody>
</table>

<!-- DIRECTIVAS ESTRUCTURALES
    <tr *ngFor="let categoria of categorias" >
    <td *ngIf="categoria.stock == 0" > SIN STOCK </td>

    DIRECTIVAS ATRIBUTO
    [ngClass]="{'clearence': categoria.clearence}"  maneja las clases CSS sepuede agregar o sacar una clase
      esta se  arma  objeto JSON {'nombrePropiedad' : nombreClase.claseCSSAAplicar}

    PIPE
    se agregan despues del símbolo | (pipe) a la variable {{ ... | currency}} se interpola pipeCurrency
  -->
