<div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <!-- TEMPLATE todo lo que tiene que ver con la visual pero no a la lógica de la aplicación -->
    <tbody>
      @for( item of rucksackItems ; track item.id ){
        @if(item.category == "mochilas"){
          <tr>
            <td><img class="img-thumbnail " width="100" [src]="item.image" [alt]="item.name"/></td> <!--src="../../../assets/img/bolsa.png"-->
            <td [ngClass]="{'clearence': item.clearence , 'resaltar': item.clearence}">{{item.name | uppercase}}</td>
            <td>{{item.price | currency}}</td>
            @if(item.stock > 0){
              <td>{{item.stock}}</td>
            }@else {
              <td><span class="badge text-bg-secondary">SIN STOCK</span> </td>
            }

            <td>
              <app-input-integer [quantity]="item.quantity"  [maxQuantity]="item.stock"   *ngIf="item.stock > 0"></app-input-integer>
            </td>
          </tr>

        }
      }
    </tbody>
  </table>
</div>

