<div class="title">
  <h3>Una mochila para cada situación</h3>
</div>
<div *ngIf="productItems$ |async as productItems">
  <ng-container *ngFor="let item of productItems" >
  @if(item.category == "mochilas"){
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-3">
              <img width="100"
                [src]="item.image"
                class="img-fluid rounded-3" [alt]="item.name" >
            </div>
            <div class="ms-5" >
              <h5>{{item.name | uppercase}}</h5>

              <div class="flex align-items-center ">
                @if(item.sale == true){
                  <p  class="text-decoration-line-through text-start mb-0">{{item.price | currency}}</p>
                  <p  class="discount text-start mb-0 resaltar">SALE {{item.discount*100}}%</p>
                  <h4  class="small text-start mt-0 mb-4"><strong>{{(item.price * (1 - item.discount))|currency}}</strong></h4>
                }
                @else {
                  <h4  class="small text-start mt-0 mb-4"><strong>{{item.price |currency}}</strong></h4>
                }
              </div>

              <h5 *ngIf="item.sale"  [ngClass]="{'sale': item.sale}">Oferta de la semana</h5>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div>
              @if(!item.stock){
                <h5><span class="badge text-bg-secondary">SIN STOCK</span></h5>
              }
            </div>
            <div class="mx-3  align-items-center" *ngIf="item.stock">
              <app-input-integer [(quantity)]="item.quantity"  [maxQuantity]="item.stock" ></app-input-integer>
              <button class="btn  btn-secondary btn-sm mt-3" (click)="addItemToCart(item)">Seleccionar</button>
              <p class="fw-normal  mb-0">Stock: {{item.stock }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </ng-container>
</div>

