<!--Acá desarrollamos el esqueleto de la aplicación-->

<div class="container">
  <header>
    <app-header></app-header>
  </header>
</div>

<h1>Prueba color h1 app-componente</h1>

<div class="container">
  <div class="row">
    <div class="col-10">
      <app-categories></app-categories>
    </div>
    <div class="col-2">
      <app-carrito-compra></app-carrito-compra>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <app-bag-items></app-bag-items>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>
