<div class="input-group">
  <div class="input-group" >
    <div class="input-group-prepend">
      <button class="btn  btn-secondary btn-sm" (click)="decreseQuantity()"> - </button>
    </div>

      <input
              class="input input-group-sm "
              [(ngModel)]="quantity"
              (keyup)="changeQuantity($event)"
              >

    <div class="input-group-prepend" >
      <button class="btn  btn-secondary btn-sm" (click)="increaseQuantity()"> + </button>
    </div>
  </div>
</div>

