h1{
  color:rgb(28, 28, 120);
}

.sale{
  background: rgb(195, 231, 231);
}

.resaltar{
  color: rgb(193, 69, 137);
}

td, th{
  vertical-align: middle;
  height: 90px;
}

input{
  max-width: 40px;
}
