<div>
  <h3>Nuestros productos</h3>
</div>
<div>
  <table class="table text-center , align-middle
  ">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <!-- TEMPLATE todo lo que tiene que ver con la visual pero no a la lógica de la aplicación -->
    <tbody>
      @for( item of productItems ; track item.id ){
        @if(item.category == "bolsas"){
          <tr>
            <td [ngClass]="{'clearence': item.clearence}"><img class="img-thumbnail " width="100"  [src]="item.image" [alt]="item.name"/></td>
            <td [ngClass]="{'clearence': item.clearence}">{{item.name | uppercase}}</td>
            <td [ngClass]="{'clearence': item.clearence}">{{item.price | currency}}</td>

            @if(item.stock > 0){
              <td>{{item.stock}}</td>
            }@else {
              <td><span class="badge text-bg-secondary">SIN STOCK</span> </td>
            }

            <td *ngIf="item.stock > 0">
                <app-input-integer [(quantity)]="item.quantity"  [maxQuantity]="item.stock" *ngIf="item.stock > 0"></app-input-integer>
                <button class="btn  btn-secondary btn-sm mt-3" (click)="addItemToCart(item)">Seleccionar</button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

