.clearence{
  background: rgb(195, 231, 231);
  border-width: 4px;
}

.resaltar{
  color: rgb(94, 59, 78);
}

h3, h5, .title, p{
  text-align: center;
}

.title{
  text-align: center;
  padding: 10px;
}
