h1{
  color:rgb(28, 28, 120);
}

.clearence{
  background: rgb(195, 231, 231);
}

.resaltar{
  color: rgb(94, 59, 78);
}

td, th{
  vertical-align: middle;
  height: 90px;
}

input{
  max-width: 40px;
}
